.header {
  padding: 16px 40px;
  display: flex;
  box-shadow: rgba(136, 121, 176, 0.4) 0px 3px 8px;
}

.navigation {
  display: flex;
}

.navigation > *:not(:last-child) {
  margin-right: 20px;
}

.homeLink {
  display: flex;
  align-items: center;
  padding: 2px 8px;

  font-size: 17px;
  border: 2px solid var(--accent-color);
  border-radius: 6px;

  font-weight: 500;
  text-decoration: none;
  color: var(--accent-color);
  background-color: none;

  transition: var(--transition-duration) var(--transition-timing-function);

  cursor: pointer;
}

.homeLinkText {
  margin-left: 2px;
}

.homeLink:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-hover-color);
  border-color: var(--accent-hover-color);
}

.appNav {
  display: flex;
}

.authNav {
  display: flex;
  margin-left: auto;
}
