.header {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header span {
  color: var(--secondary-color);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
